@using WebApplication.Attributes

@model WebApplication.Models.Application.DeliveryBatch

@section submenu {left-sidebar-menu-batch-delivery}

@{
    ViewBag.Title = "Process Delivery";
    ViewBag.SubTitle = "Batch";
}


<div class="row">
    <div class="col-xs-12 col-md-6">

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Check and process delivery batch</h3>
            </div>
            @if (ViewBag.Message != null)
            {
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                    <p>
                        @ViewBag.Message
                    </p>

                </div>
            }
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="box-body">
                    @Html.ValidationSummary(true)

                    @Html.HiddenFor(m => m.Id)

                    <div class="form-group">
                        <label>Delivery Batch</label>
                        @Html.TextBoxFor(m => m.GetCode, new { @class = "form-control", disabled = "" })
                    </div>

                    <div class="form-group">
                        <label>Quantity</label>
                        @Html.TextBoxFor(m => m.Items.Count, new { @class = "form-control", disabled = "" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Delivered)
                        @Html.EditorFor(m => m.Delivered, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div><!--/.box-body-->
                <div class="box-footer">
                    <div class="pull-left">
                        @Html.ActionLink("Go Back", "CreateDeliveryBatch", new { id = Model.Id }, new { @class = "btn btn-default" })
                    </div>

                    @if (User.HasPermissions("BatchDelivery", "Write"))
                    {
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary">Proceed</button>
                        </div>
                    }
                </div>
            }
        </div><!--/.box.box-primary-->
    </div><!--/.col-xs-12.col-md-6-->
</div>


@section Scripts {
    @Scripts.Render("~/AdminLTE/plugins/datepicker/js")

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            $('#Delivered').datepicker({
                language: 'pt-BR',
                format: 'dd/mm/yyyy'
            });
        });
    </script>
}