@model IEnumerable<WebApplication.Models.Application.ScrapBatch>

@{
    ViewBag.Title = "Scrap";
    ViewBag.SubTitle = "Batches";
}

@section submenu {left-sidebar-menu-batch-scrap}

<div class="row">
    <div class="col-xs-12">
        <div class="box box-danger">
            <div class="box-header panel-danger-of-doom">
                <h3 class="box-title">@ViewBag.Title @ViewBag.SubTitle</h3>
            </div>
            <div class="box-body table-responsive">
                <table id="scrapDataTables" class="table table-bordered table-striped"></table>
            </div>
            <div class="box-footer">
                @Html.ActionLink("New Scrap Batch", "CreateScrapBatch", new { }, new { @class = "btn btn-primary" })
            </div>
        </div><!--/.box-->
    </div>
</div>
<script type="text/javascript">
    function formatDateString(data) {
        var d = moment(data);
        if (!d.isValid()) {
            return 'N/A';
        }
        return moment(data).format('DD/MM/YYYY HH:mm');
    }
</script>

<script type="text/x-jsrender" id="idColumn">
    <a href="@Url.Action("CreateScrapBatch")/{{:id}}" class="btn btn-link">
        <i class="fa fa-search"></i>
        {{:code}}
    </a>
</script>
<script type="text/x-jsrender" id="statusColumn">
    {{if status === 'Delivered'}}
    <span class="label label-success">{{:statusDescription}}</span>
    {{else status === 'Open'}}
    <span class="label label-warning">{{:statusDescription}}</span>
    {{else status === 'Cancelled'}}
    <span class="label label-danger">{{:statusDescription}}</span>
    {{else}}
    <span class="label label-default">{{:statusDescription}}</span>
    {{/if}}
</script>
<script type="text/x-jsrender" id="actionColumn">
    {{if status === 'Open'}}
    <a href="@Url.Action("CreateScrapBatch")/{{:id}}" class="btn btn-success">
        Edit Batch
    </a>
    {{else}}
    <a href="@Url.Action("CreateScrapBatch")/{{:id}}" class="btn btn-info">
        View Batch
    </a>
    {{/if}}
</script>

@section Scripts {
    @Scripts.Render("~/AdminLTE/plugins/jsrender/js")

    <script type="text/javascript">

        document.addEventListener('DOMContentLoaded', function () {

            var $scrapDataTables = $('#scrapDataTables').DataTable({
                serverSide: true,
                pageLength: 25,
                searching: false,
                ajax: {
                    url: '@Html.Raw(Url.Action("PagedScrap"))',
                    type: 'POST'
                },
                columns: [
                    {
                        name: 'id',
                        data: 'id',
                        title: 'ID',
                        sortable: true,
                        render: function (value, type, row) {
                            return $('#idColumn').render(row);
                        }
                    }, 
                    {
                        name: 'userId',
                        data: 'userId',
                        title: 'Created By',
                        sortable: false
                    },
                    {
                        name: 'created',
                        data: 'created',
                        title: 'Created At',
                        sortable: true,
                        render: formatDateString
                    },
                    {
                        name: 'delivered',
                        data: 'delivered',
                        title: 'Delivered At',
                        sortable: true,
                        render: formatDateString
                    },
                    {
                        name: 'cancelled',
                        data: 'cancelled',
                        title: 'Canceled At',
                        sortable: true,
                        render: formatDateString
                    },
                    {
                        name: 'statusDescription',
                        data: 'statusDescription',
                        title: 'Status',
                        sortable: false,
                        render: function (value, type, row) {
                            return $('#statusColumn').render(row);
                        }
                    },
                    {
                        name: 'status',
                        data: 'status',
                        title: 'Actions',
                        sortable: false,
                        render: function (value, type, row) {
                            return $('#actionColumn').render(row);
                        }
                    }
                ]
            });

        });

    </script>
}
