@using WebApplication.Attributes

@model IEnumerable<WebApplication.Models.Auth.PermissionUser>
@{
    Layout = null;
}

<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Resource)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Operation)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Resource)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Operation)
            </td>
            <td>
                @if (User.HasPermissions("PermissionUser", "Write"))
                {
                    @Html.ActionLink("Delete", "Delete", new { permId = item.Id, id = ViewData["RoleId"] })
                }
            </td>
        </tr>
    }

</table>
